@font-face {
  font-family: 'Chalet Cologne';
  src: local('Chalet Cologne'), url(./fonts/ChaletComprimeCologneEightyRegular.otf) format('truetype');
}

@font-face {
  font-family: 'Chalet Milan';
  src: local('Chalet Milan'), url(./fonts/ChaletComprimeMilanEighty.ttf) format('truetype');
}

@font-face {
  font-family: 'Base Medium';
  src: local('Base Medium'), url(./fonts/Base9Medium.otf) format('truetype');
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  font-size: 20px;
  color: black;
  letter-spacing: 2px;
  transition: .2s;
}

a:hover{
  color: #00EBF2;
}

.navbar.mobile a:hover{
  color: black;
}

.selected{
  color: #00EBF2;
}

path{
  transition: .2s;
}

.pool-box:hover path{
  stroke: #00EBF2;
}

.selected path{
  stroke: #00EBF2;
}

.navbar ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 620px;
}

.navbar.mobile{
  margin: 50px 0;
}

.navbar.mobile ul{
  flex-direction: column;
  width: auto;
  margin: 0;
}

li{
  display: flex;
  align-items: center;
  justify-content: center;
}

li:nth-child(-n + 2){
  margin-right: 70px;
}

li:nth-child(3){
  margin-right: 65px;
}

li:nth-child(4),
li:nth-child(5){
  margin-right: 40px;
}

li:nth-child(6){
  /* margin-right: 30px; */
}

li:nth-child(-n +3) a{
  font-size: 23px;
}

.navbar.mobile li {
  margin: 2.5px 0;
}

.navbar.mobile a{
  font-size: 34px;
  letter-spacing: 3px;
}

.plain-navbar{
  width: 80vw;
  font-size: 14px;
}

.plain-navbar ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 0;
  margin: 30px 0 50px 0;
}

.plain-navbar li{
  margin: 0;
}

.overlay{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.overlay.active{
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.contenedor{
  margin: 0 auto;
  width: 1400px;
  display: flex;
  flex-direction: column;
  min-height: 84vh;
}

.contenedor.mobile{
  width: 80vw;
  /* border: 1px solid red; */
}

.menu{
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  font-family: 'Chalet Cologne';
  position: relative;
}

.menu-responsive{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 100px; */
  font-family: 'Chalet Cologne';
  /* position: relative; */
  /* border: 1px solid blue; */
}

.menu-responsive-box{
  height: 100vh;
  width: 75vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9dff+0,d1d4d6+73,d1d4d6+73,d1d4d6+73,b1bec9+81,42eded+100 */
  background: #ff9dff; /* Old browsers */
  background: -moz-linear-gradient(top, #ff9dff 0%, #d1d4d6 73%, #d1d4d6 73%, #d1d4d6 73%, #b1bec9 81%, #42eded 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff9dff 0%,#d1d4d6 73%,#d1d4d6 73%,#d1d4d6 73%,#b1bec9 81%,#42eded 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff9dff 0%,#d1d4d6 73%,#d1d4d6 73%,#d1d4d6 73%,#b1bec9 81%,#42eded 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9dff', endColorstr='#42eded',GradientType=0 ); /* IE6-9 */
}

.menu-responsive-box.active{
  left: 0;
}

.side-content{
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 150px; */
}

.side-footer{
  flex-shrink: 0;
  margin-bottom: 20px;
  letter-spacing: 5px;
  font-size: 14px
}

.hamburger-align{
  margin-right: auto;
}

.hamburger-menu{
  /* width: 50px; */
  position: fixed;
  /* right: 0; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  transition: all .5s ease;
  /* cursor: pointer; */
}

/* fixed hamburger menu */
.hamburger-box{
  position: fixed;
  background-color: white;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  transition: .5s;
}

.logo-mobile{
  margin-top: 60px;
}

.hamburger-menu.active{
  transform: translate(55vw, -17px);
}

.hamburger-menu.active .hamburger-box{
  background-color: transparent;
}

.bar-menu{
  /* width: 25px; */
  /* margin: 4px 0; */
  /* Fixed hamburger menu */
  width: 20px;
  margin: 2px 0;
  /*  */
  height: 3px;
  background: black;
  border-radius: 10px;
}

.b1.active{
  animation: bar1in .5s forwards;
}
.b2.active{
  animation: bar2in .5s forwards;
}
.b3.active{
  animation: bar3in .5s forwards;
}

.b1.inactive{
  animation: bar1out .5s forwards;
}
.b2.inactive{
  animation: bar2out .5s forwards;
}
.b3.inactive{
  animation: bar3out .5s forwards;
}

@keyframes bar1in{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(7px);
  }
  100%{
    transform: translateY(7px) rotate(45deg);
    /* background: black; */
  }
}

@keyframes bar1out{
  0%{
    transform: translateY(7px) rotate(45deg);
    /* background: black; */
  }
  50%{
    transform: translateY(7px);
  }
  100%{
    transform: translateY(0);
    /* background: black; */
  }
}

@keyframes bar2in{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes bar2out{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes bar3in{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-7px);
  }
  100%{
    transform: translateY(-7px) rotate(-45deg);
    /* background: black; */
  }
}

@keyframes bar3out{
  0%{
    transform: translateY(-7px) rotate(-45deg);
    /* background: black; */
  }
  50%{
    transform: translateY(-7px);
  }
  100%{
    transform: translateY(0);
    /* background: #FF9DFF; */
  }
}

.lang-box{
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  right: 0;
  top: 40%;
}

.lang-box.mobile{
  left: 4vw;
  top: 5vw;
  width: 55px;
}

.lang-text{
  margin: 3px 3px 0 3px;
  font-family: 'Chalet Cologne';
  /* font-weight: bold; */
  letter-spacing: 1px;
  font-size: 15px;
  color: #4C4C4C;
  cursor: pointer;
}

.lang-text.mobile{
  font-size: 16px;
  color: #000;
}

.lang{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lang:hover .bar{
  opacity: 1;
}

.active.bar{
  opacity: 1;
}

.bar{
  border: 1px solid #4C4C4C;
  width: 15px;
  opacity: 0;
  transition: .2s;
}

.url{
  margin: 0 0 16px 0;
  font-family: 'Chalet Milan';
  letter-spacing: 6px;
  font-size: 14px;
}

.logo-desktop{
  margin-bottom: 50px;
}

.pool-box{
  position: relative;
}

.pool-text{
  position: absolute;
  margin: 0;
  top: -1px;
  left: 20px;
  transform: rotate(-23deg) skew(-20deg);
}

.contenido{
  /* border: 1px solid brown; */
  /* height: 800px; */
  overflow: hidden;
  flex: 1 0 auto;
}

.gif.mobile{
  margin-bottom: calc(5vw - 5px);
}

.gif p {
  line-height: .9;
}

.gif-box{
  position: relative;
  overflow: hidden;
}

.gif-text{
  position: absolute;
  /* right: -100%; */
  background-color: rgba(0,0,0, .8);
  color: white;
  opacity: 0;
  width: 100%;
  height: calc(100% - 4.5px);
  transition: .4s;
  font-family: 'Chalet Cologne'
}

/* Acá debe ir el degradado */
.gif-text.mobile{
  opacity: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.gif.mobile .image{
  z-index: -1;
}

.gif-text.mobile.touched{
  opacity: 1;
}

.gif-text.white {
  background-color: rgba(255,255,255, .8);
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gif-text.white.mobile {
  justify-content: flex-start;
}


.gif-box:hover .gif-text{
  /* right: 0; */
  opacity: 1;
}

.gif-title-box{
  margin: 10px 0 10px 15px;
}

.gif-title-box.mobile{
  margin: 15px 0 5px 15px;
}

.cuerpos .gif-title-box.mobile{
  margin: 95px 0 5px 20px;
}

.gif-title{
  font-size: 51px;
  /* margin: 15px 0 10px 18px; */
  margin: 0;
  /* font-weight: bold; */
}
.gif-title.mobile{
  font-size: 35px;
}

.gif-desc{
  font-size: 15px;
  letter-spacing: 2px;
  margin: 0 0 10px 15px;
}

.white .gif-desc{
  letter-spacing: 2px;
}

.gif-year{
  font-size: 18px;
  margin: 0 0 5px 15px;
}

.cuerpos .gif-year{
  margin: 0 0 5px 20px;
}

.gif-desc-mobile{
  margin: 0 0 0 15px;
  font-size: 14px;
}

.cuerpos .gif-desc-mobile{
  margin: 0 0 0 20px;
}

.border{
  border: 1px solid red;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.iframe{
  display: block;
  border: 0;
}

.about-text.mobile{
  font-family: 'Base Medium';
  font-size: 11px;
  margin: 0;
  text-align: justify;
  line-height: 1.8;
}

.contact-box{
  font-family: 'Base Medium';
  /* border: 1px solid red; */
  margin: 20px 0 20px 0;
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  font-size: 8px;

}

.text-box{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text-box p {
  background-color: black;
  color: white;
  font-family: 'Chalet Cologne';
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0 4px;
}

.contact-section-2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contact-section-1{
  width: 25vw;
}
.contact-subsection:nth-of-type(1){
  /* border: 1px solid blue; */
  width: 32vw;
  border-right: 1px solid black;
}

.contact-subsection:nth-of-type(2) {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 23vw;
}

.contact-text{
  margin-top: 0;
}

.contact-text:nth-child(3){
  margin-bottom: 0;
}

@media screen and (max-width: 320px) {
  .contact-box{
    flex-direction: column;
  }

  .contact-subsection:nth-of-type(1){
    width: 38vw;
  }

  .contact-subsection:nth-of-type(2) {
    width: 27vw;
  }

  .contact-section-2{
    margin-top: 10px;
  }
}

.project-content{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
}

.project-content.mobile{
  width: 80vw;
}

.navigate{
  margin: 5px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav-button{
  margin: 0;
  font-family: 'Chalet Cologne';
  font-size: 16px;
  color: #D1D3D4;
  font-weight: normal;
  cursor: pointer;
  transition: .4s;
}

.nav-button.mobile{
  font-size: 14px;
}

.nav-button:hover{
  color: #000;
}

.left::before{
  content: '< ';
}

.right::after{
  content: ' >';
}

.title-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Chalet Cologne';
  margin-bottom: 15px;
}

.title{
  margin: 15px 0 0 0;
  /* width: 320px; */
  text-align: center;
}

.title h1{
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 65px;
  margin: 0;
  line-height: .95;
}

.title.mobile h1{
  font-size: 45px;
}

.title-box h2{
  font-weight: normal;
  letter-spacing: 1px;
  margin: 5px 0;
}

.project-year{
  margin: 0;
  font-size: 15px;
  /* color: #4C4C4C; */
}

.project-year.mobile{
  font-size: 13px;
}

.project-tag{
  font-size: 16px;
  margin: 5px 0 0 0;
  letter-spacing: 1px;
}

.project-tag.mobile{
  font-size: 14px;
}

.description-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.project-description{
  font-family: 'Base Medium';
  font-size: 13px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
  margin-top: 0;
}

.project-description.mobile{
  font-size: 11px;
}

.logos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 40px 0 45px 0;
}

.logos.mobile{
  /* border: 1px solid red; */
  /* flex-wrap: wrap; */
}


.logo{
  margin: 0 15px;
}

.logos.mobile .logo{
  width: 30%;
  margin: 0px 5px;
}

.assets{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.asset-box{
  margin-top: 20px;
  /* width: 400px; */
}

.footer-box{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer{
  width: 100%;
  margin-top: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,0) 67%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,0) 67%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(255,255,255,0) 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.footer.about-mob{
  margin-top: 0;
}

.iconos{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.iconos.mobile{
  width: 150px;
}

.iconos.mobile a{
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono{
  /* margin-right: 40px; */
  height: 20px;
}

.loading{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes bouncing-loader {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.1;
    transform: translateY(-1rem);
  }
}
.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #D1D3D4;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.image{
  position: relative;
}

.video{
  position: relative;
}

.gif .video{
  position: static;
}

.iframe-box{
  position: relative;
}

.coming-soon{
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: 'Chalet Cologne';
  font-size: 45px;
}

@media screen and (max-width: 767px){
  .coming-soon{
    padding-top: 90px;
  }
}
