@font-face {
  font-family: 'Chalet Cologne';
  src: local('Chalet Cologne'), url(./fonts/ChaletComprimeCologneEightyRegular.otf) format('truetype');
}

@font-face {
  font-family: 'Chalet Milan';
  src: local('Chalet Milan'), url(./fonts/ChaletComprimeMilanEighty.ttf) format('truetype');
}

@font-face {
  font-family: 'Base Medium';
  src: local('Base Medium'), url(./fonts/Base9Medium.otf) format('truetype');
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  font-size: 20px;
  color: black;
  letter-spacing: 2px;
  transition: .2s;
}

a:hover{
  color: #00EBF2;
}

.selected{
  color: #00EBF2;
}

path{
  transition: .2s;
}

.pool-box:hover path{
  stroke: #00EBF2;
}

.selected path{
  stroke: #00EBF2;
}

.navbar ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 620px;
}

li{
  display: flex;
  align-items: center;
  justify-content: center;
}

li:nth-child(-n + 2){
  margin-right: 70px;
}

li:nth-child(3){
  margin-right: 65px;
}

li:nth-child(4),
li:nth-child(5){
  margin-right: 40px;
}

li:nth-child(6){
  /* margin-right: 30px; */
}

.contenedor{
  margin: 0 auto;
  width: 1400px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu{
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  font-family: 'Chalet Cologne';
  position: relative;
}

.lang-box{
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  right: 0;
  top: 40%;
}

.lang-text{
  margin: 3px 3px 0 3px;
  font-family: 'Chalet Cologne';
  /* font-weight: bold; */
  letter-spacing: 1px;
  font-size: 15px;
  color: #4C4C4C;
  cursor: pointer;
}

.lang{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lang:hover .bar{
  opacity: 1;
}

.active.bar{
  opacity: 1;
}

.bar{
  border: 1px solid #4C4C4C;
  width: 15px;
  opacity: 0;
  transition: .2s;
}

.url{
  margin: 0 0 16px 0;
  font-family: 'Chalet Milan';
  letter-spacing: 6px;
  font-size: 14px;
}

.logo-box{
  margin-bottom: 50px;
}

.pool-box{
  position: relative;
}

.pool-text{
  position: absolute;
  margin: 0;
  top: -1px;
  left: 20px;
  transform: rotate(-23deg) skew(-20deg);
}

.contenido{
  /* border: 1px solid brown; */
  /* height: 800px; */
  overflow: hidden;
  flex: 1 0 auto;
}

.gifs{
  position: relative;
  /* height: 2000px; */
}

.gif{
  position: absolute;
}

.gif-box{
  position: relative;
  overflow: hidden;
}

.gif-text{
  position: absolute;
  /* right: -100%; */
  background-color: rgba(0,0,0, .8);
  color: white;
  opacity: 0;
  width: 100%;
  height: calc(100% - 4.5px);
  transition: .4s;
  font-family: 'Chalet Cologne'
}

.gif-text.white {
  background-color: rgba(255,255,255, .8);
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gif-box:hover .gif-text{
  /* right: 0; */
  opacity: 1;
}

.gif-title-box{
  margin: 10px 0 10px 15px;
}

.gif-title{
  font-size: 51px;
  /* margin: 15px 0 10px 18px; */
  margin: 0;
  /* font-weight: bold; */
}

.gif-desc{
  font-size: 15px;
  letter-spacing: 3px;
  margin: 0px 0 10px 15px;
}

.border{
  border: 1px solid red;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.vr-content{
  height: 400px;
  width: 600px;
}

.iframe{
  display: block;
  border: 0;
}

.about-box{
  /* height: 700px; */
}

.project-content{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 620px;
}

.navigate{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav-button{
  margin: 0;
  font-family: 'Chalet Cologne';
  font-size: 16px;
  color: #D1D3D4;
  font-weight: normal;
  cursor: pointer;
  transition: .4s;
}

.nav-button:hover{
  color: #000;
}

.left::before{
  content: '< ';
}

.right::after{
  content: ' >';
}

.title-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Chalet Cologne';
  margin-bottom: 15px;
}

.title-box h1{
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 65px;
  margin: 15px 0 0 0;
  width: 320px;
  text-align: center;
}

.title-box h2{
  font-weight: normal;
  letter-spacing: 1px;
  margin: 5px 0;
}

.project-year{
  margin: 0;
  font-size: 15px;
  /* color: #4C4C4C; */
}

.project-tag{
  font-size: 16px;
  margin: 5px 0 0 0;
  letter-spacing: 1px;
}

.project-description{
  font-family: 'Base Medium';
  font-size: 13px;
  text-align: justify;
}

.logos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 40px 0 20px 0;
}

.logo{
  margin: 0 15px;
}

.assets{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.asset-box{
  margin-top: 20px;
  /* width: 400px; */
}

.footer{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,0) 67%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,0) 67%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(255,255,255,0) 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.icono{
  margin-right: 40px
}
