@font-face {
  font-family: 'Chalet Cologne';
  src: local('Chalet Cologne'), url(./fonts/ChaletComprimeCologneEightyRegular.otf) format('truetype');
}

@font-face {
  font-family: 'Chalet Milan';
  src: local('Chalet Milan'), url(./fonts/ChaletComprimeMilanEighty.ttf) format('truetype');
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  font-size: 26px;
  color: black;
  letter-spacing: 2px;
  transition: .2s;
}

a:hover{
  color: skyblue;
}

.selected{
  color: skyblue;
  /* stroke: skyblue; */
}

path{
  transition: .2s;
}

.pool-box:hover path{
  stroke: skyblue;
}

.selected path{
  stroke: skyblue;
}

li{
  margin-right: 30px;
  /* font-weight: bold; */
}

.contenedor{
  margin: 0 auto;
  width: 800px;
}

.menu{
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  font-family: 'Chalet Cologne'
}

.url{
  margin: 0 0 16px 0;
  font-family: 'Chalet Milan';
  letter-spacing: 6px;
  font-size: 14px;
}

.logo-box{
}

li{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.pool-box{
  position: relative;
}

.pool-text{
  position: absolute;
  margin: 0;
  top: -7px;
  left: 18px;
  transform: rotate(-23deg) skew(-15deg)
}

.contenido{
  /* border: 1px solid brown; */
  height: 3000px;
  overflow: hidden;
}

.gifs{
  position: relative;
  height: 2000px;
}

.gif{
  position: absolute;
}

.gif-box{
  position: relative;
  overflow: hidden;
}

.gif-text{
  position: absolute;
  /* right: -100%; */
  background-color: #000;
  color: white;
  opacity: 0;
  width: 100%;
  height: calc(100% - 4.5px);
  transition: .4s;
}

.gif-box:hover .gif-text{
  /* right: 0; */
  opacity: .7
}

.gif-title{
  font-size: 24px;
}

.gif-year{
  font-size: 18px;
}

.gif-desc{
  font-size: 16px;
}

.border{
  border: 1px solid red;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.footer{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
